* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Norse-Bold';
  src: url('Norse-Bold.otf') format('opentype');
}

html {
  background-color: black;
}

.container {
  display: flex;
  border-style: solid;
  margin: 10%;
  height: 100%;
}

.card-container {
  display: inline;
  position: relative;
  width: 35%;
  vertical-align: top;
  border-style: solid;
}

.card-footer {
  position: absolute;
  bottom: .5rem;
  left: 1rem;
  width: 100%;
  color: rgb(183, 182, 182);
}

a {
  color: rgb(183, 182, 182);
}

.card-image {
  width: 100%;
}


.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  background: black;
  opacity: 0.7;
  top: 7rem;
  text-align: center;
  font-size: 100px;
  height: 7rem;
  border-style: solid;
  border: white;
}

.card-logo {
  max-width: 80%;
  max-height: 80%;
  margin: 0;
  opacity: 1;
}

.card-paragraph {
  position: relative;
  margin: 20px 0px 0px 0px;
  color: white;
  font-family: "Norse-Bold";
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  vertical-align: top;
}

.form-header {
  border-color: white;
  border-style: solid;
  background-color: #f9fafb;
  padding: 10% 15% 0 5%;
  width: 100%;
  border-style: solid;
  border: blue;
  height: max(500px, 100%);
}

h3 {
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  font-weight: normal bold;
  max-width: 55ch;
}

fieldset {
  padding: 0 0 0 5%;
}

.form-body {
  border-top: 2px solid #f9fafb;
  height: max(500px, 100%);
  border-bottom: 2px solid #f9fafb;
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5), 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  padding: 0 0 20px 0;
  background-color: white;
}

legend {
  padding: 0 0 0 5%;
}

fieldset {
  border: none;
}

input,
input:valid {
  border-style: solid;
  border-color: #e0e1e1;
  background-color: white;
  border-radius: 3px;
  border-width: 1.75px;
  width: 12rem;
  height: 1.5rem;
}

.input-group {
  display: flex;
  flex-direction: row;
}

.input-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
  /* adjust as needed */
  margin: 0 50px 5px 0;
}

.input-row label {
  margin-bottom: 5px;
  font-size: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 0.5px;
  color: darkslategrey;
}

.error {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

.error.active {
  padding: 0.3em;
}

input:invalid {
  border-color: red;
}

input:focus {
  border-color: blue;
}

.form-footer {
  bottom: 0;
  width: 100%;
  height: max(300px, 100%);
  /* Set the height to the desired value */
  background-color: #f9fafb;
  padding: 10px 0 0 5%;
}


button {
  background-color: #596D48;
  border-radius: 4px;
  color: white;
  border-style: solid;
  width: 150px;
  height: 35px;
}

.login {
  margin: 10px 0 0 0;
}

span {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}