* {
  box-sizing: border-box;
}

/* @font-face {
  font-family: 'Norse-Bold';
  src: url('Norse-Bold.otf') format('opentype');
} */

@font-face {
  font-family: 'Veggy';
  src: url('VeggyPersonalUseSemiExpandedMedium-1GMov.ttf') format('truetype');
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.card-container {
  background-image: url('alex-d-alessio-_Jb2XOA5Bjg-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 35%;
  border-style: solid;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 20vh;
}

.card-container > .card-body > img {
  height: 100px;
  width: 100px;
}

.card-container > .card-body > p {
  color: white;
  font-family: "Veggy";
  font-size: 7rem;
}

.card-container > .card-body > br {
  font-size: 25%;
}

.card-footer {
  position: absolute;
  bottom: .1rem;
  left: 1rem;
  width: 100%;
  color: rgb(183, 182, 182);
}

a {
  color: rgb(183, 182, 182);
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  vertical-align: top;
}

.form-header {
  border-color: white;
  border-style: solid;
  background-color: #f9fafb;
  padding: 10% 15% 0 5%;
  width: 100%;
  border-style: solid;
  height: max(500px, 100%);
}

h3 {
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  font-weight: normal bold;
  max-width: 55ch;
}

fieldset {
  padding: 0 0 0 5%;
}

.form-body {
  border-top: 2px solid #f9fafb;
  height: max(500px, 100%);
  border-bottom: 2px solid #f9fafb;
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5), 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  padding: 0 0 20px 0;
  background-color: white;
}

legend {
  padding: 0 0 0 5%;
}

fieldset {
  border: none;
}

input,
input:valid {
  border-style: solid;
  border-color: #e0e1e1;
  background-color: white;
  /* background-color: blac; */
  border-radius: 3px;
  border-width: 1.75px;
  width: 12rem;
  height: 1.5rem;
}

.input-group {
  display: flex;
  flex-direction: row;
}

.input-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
  margin: 0 50px 5px 0;
}

.input-row label {
  margin-bottom: 5px;
  font-size: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 0.5px;
  color: darkslategrey;
}

.error {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

.error.active {
  padding: 0.3em;
}

input:invalid {
  border-color: red;
}

input:focus {
  border-color: blue;
}

.form-footer {
  bottom: 0;
  width: 100%;
  height: max(00px, 100%);
  background-color: #f9fafb;
  padding: 10px 0 0 5%;
}


button {
  background-color: #266766;
  border-radius: 4px;
  color: white;
  border-style: solid;
  width: 150px;
  height: 35px;
}

.login {
  margin: 10px 0 0 0;
}

span {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1080px) {
  .container {
    display:block;
  }

  .card-container {
    background-image: url('alex-d-alessio-_Jb2XOA5Bjg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25%;
  }

  .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0vh;
  }
  .card-footer {
    display: none;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    vertical-align: top;
  }
}